﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Shared/Admin.Master" AutoEventWireup="true" CodeFile="~/Admin/Default.aspx.cs" Inherits="Admin_Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
