﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeFile="Result.aspx.cs" Inherits="Result" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
Untuk mengakses ini anda harus login 
    <asp:LinkButton ID="LinkButton1" PostBackUrl="~/Account/Login.aspx" runat="server">Login</asp:LinkButton><br />
    Atau anda tidak mempunyai hak untuk mengakses halaman ini
</asp:Content>
