﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Shared/Pakar.Master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="WebIdentifikasitanamanmangrove.Pakar.Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
