﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="artikeldetail.aspx.cs" Inherits="User_artikelajah" MasterPageFile="~/Site.Master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <div>
        <asp:HiddenField ID="lblIdArtikel" runat="server" Value='' />
        <h2>
            <asp:Label ID="txtJudul" runat="server" Font-Bold="True" Font-Size="Medium" Text='' />
        </h2>
        <asp:Label ID="txtIsi" runat="server" Text='' />
        <hr />
        Comment:
        <br />
        Name(required)&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;
        <asp:TextBox ID="txtName" runat="server" style="margin-bottom: 0px"></asp:TextBox>
        <br />
        <br />
        Email(required)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;
        <asp:TextBox ID="txtEmail" runat="server" style="margin-left: 0px; margin-bottom: 0px"></asp:TextBox>
        <br />
        <br />
        Insert Comment&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;
        <asp:TextBox ID="txtComment" runat="server" style="margin-bottom: 0px"></asp:TextBox>
        <br />
        <br />
        <asp:Button ID="btnsubmit" runat="server" OnClick="btnsubmit_Click" Text="Submit" />    
    </div>
</asp:Content>